<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1 style="color: blue;">display_accessrecords</h1>
        <table border="3px">
            <tr>
                <th style="color: red;">name</th>
                <th style="color: red;">auther</th>
                <th style="color: red;">date</th>
            </tr>
        {% for ao in accessrecords %}
            <tr>
                <td style="color:chartreuse;">{{ao.name}}</td>
                <td style="color:chartreuse;">{{ao.Auther}}</td>
                <td style="color:chartreuse;">{{ao.date}}</td>
            </tr>
        {% endfor %}
        </table>
    </center>
</body>
</html>