<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1 style="color:blue">display_webpage</h1>
        <table border="3px">
            <tr>
                <th style="color:red;">topic_name</th>
                <th style="color:red;">name</th>
                <th style="color:red">url</th>
            </tr>
        {% for wo in webpage %}
            <tr>
                <th style="color: lime;">{{wo.topic_name}}</th>
                <th style="color: lime;">{{wo.name}}</th>
                <th style="color: lime;">{{wo.url}}</th>
            </tr>
        {% endfor %}

       </table>
    </center>
</body>
</html>